.salaryForm{
    width: 680px;
    height: 616px;
    border: 1px solid #E0E0E0;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 22px;
}
/* /////////////////////////////////////////////// */
.topContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0px;
}
/* /////////////////////////////////////////////// */
.formField{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* /////////////////////////////////////////////// */
.salaryReport{
    width: 480px;
    height: 614px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    padding: 22px;
}